:global(.ui.basic.label).toolbarBtn {
  border: none
}

.meta {
	display: flex;
	justify-content: space-between;
}
:global(.ui.basic.popup).popup{
	padding: 10px 5px;
	filter: none;
}
  
.popup_reaction{
	display: flex;
    align-items: center;
}
.popup_reaction span{
	padding: 0px 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}
.popup_reaction span p {
    text-align: center;
	text-overflow: ellipsis;
    width: 3em;
    white-space: nowrap;
    overflow: hidden;
}

.modal_user_info{
	display: grid;
	align-items: center;
    padding: 5px;
}

.modal_info{
	display: flex;
}