body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

#root,
.fill {
  width: 100%;
  height: 100%;
}

// .blurring {
// 	&.dimmed {
// 		&.dimmable {
// 			& > :not(.dimmer) {
//           filter: none;
// 			}
// 		}
// 	}
// }